/*.red-theme{*/
/*    background: linear-gradient(to left, black 1%, red 4%,*/
/*    black 4%, black 9%, red 9%,*/
/*    red 11%, black 11%, black 13%,*/
/*    red 13%,red 15%, black 31%,*/
/*    black 82%, red 90%, red 91%,*/
/*    black 91%,black 91.7%, red 91.7%,*/
/*    red 92.5%, black 91.5%,*/
/*    black 96.5%, red 96.5%, red 97%,*/
/*    black 97%, black 98%, red 98.5%, black 99.5%*/
/*    );*/
/*}*/
.red-theme .header-controls{
    background: linear-gradient(to top, transparent 5%, red 20%,
    transparent 20%, transparent 25%,
    red 25%, red 30%,
    black 40%, black 80%,
    red 80%,red 85%,
    transparent
    )
}
.red-theme .task-form, .red-theme .task-card{
    background: linear-gradient(white 10%, #ff1fef  35%, #00034b 90%);
    box-shadow: inset 0 0 10px 4px black;
}
.red-theme .auth-form{
    background: linear-gradient(#00b4b263 10%, #6ccbff 35%, #002c40 90%);
    box-shadow: #2ab4ff 0 0 9px 5px;
}
.red-theme .switch{
    background: red;
}
.red-theme .btn-form, .red-theme .btn{
    background: red;
}
.red-theme .logout-container{
    background: linear-gradient(#3cff39, #00000000, #3cff39);
}
.red-theme .logout-btn{
    background: black;
    border: 1px solid white;
    color: #64f6ff;
    border-radius: 15px;
    padding: 0 10px;
}
.red-theme .logo{
    color: #3cff39;
}
.red-theme .active{
    box-shadow: inset 0 0 7px 4px green;
}
.red-theme .pause{
    box-shadow: inset 0 0 7px 4px orange;
}
.red-theme .done{
    box-shadow: inset 0 0 7px 4px red;
    text-decoration: line-through;
}